:host {
  display: block;
  width: calc(100% - 30px);
  max-width: 1600px;
  margin: 0 auto;
}
div {
  padding: 20px 0;

  table {
    width: 100%;
    text-align: center;

    td,
    th {
      padding: 5px 0;
    }

    thead {
      background: var(--primary-color);
      color: white;
    }

    tbody {
      tr {
        background: rgba($color: #000000, $alpha: 0.1);

        &:nth-child(2n + 2) {
          background: rgba($color: #000000, $alpha: 0.05);
        }
      }
    }
  }
}

.back-link {
  margin-top: 10px;
  a {
    color: var(--primary-color);
  }
}
