<div *ngIf="calculationHistory$ | async as calculationHistory">
  <div class="back-link">
    <a [routerLink]="['../']"><< Back</a>
  </div>
  <table>
    <thead>
      <tr>
        <th>Operation type</th>
        <th>First value</th>
        <th>Second value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let values of calculationHistory">
        <td *ngIf="values.command" colspan="1"> {{ operationToSymbol[values.command] ? operationToSymbol[values.command] : 'NaN' }}</td>
        <td colspan="1">{{ values.firstValue }}</td>
        <td colspan="1">{{ values.secondValue }}</td>
      </tr>
    </tbody>
  </table>
</div>
