@font-face {
  font-family: 'body-font';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: 
    /* IE6-IE8 */ url('../fonts/SFCompactText-Regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('../fonts/SFCompactText-Regular.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/SFCompactText-Regular.ttf')
      format('truetype');
}

@font-face {
  font-family: 'body-font';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: 
    /* IE6-IE8 */ url('../fonts/SFCompactText-Thin.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('../fonts/SFCompactText-Thin.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/SFCompactText-Thin.ttf')
      format('truetype');
}

$body-font: 'body-font', 'sans-serif';
