.calc-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background: var(--primary-color);
  width: 240px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  overflow: hidden;
  filter: drop-shadow(0 0 0.75rem var(--helper-color));

  &__text-part {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: flex-end;

    input {
      width: 100%;
      background: transparent;
      font-weight: 200;
      color: white;
      border: 0;
      margin-left: auto;
      text-align: right;
      padding-right: 10px;
      outline: none;
      cursor: default;
    }
  }

  &__button-part {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    hedgeserv-calculator-buttons {
      width: 100%;
    }
  }

  &__line {
    display: flex;
    width: 25%;

    &.size-2 {
      width: 50%;
    }
  }
}

.loading {
  color: var(--primary-color);
}

.info-buttons {
  text-align: center;
  margin-top: 10px;
  a,
  span {
    font-size: 0.9rem;
    color: var(--primary-color);
  }

  span {
    display: inline-block;
    margin: 0 5px;
  }
}
