<div *ngIf="buttons$ | async as buttons" class="calc-wrapper">
  <div *ngIf="buttons && buttons.length > 0; else loading">
    <div class="calculator" (window:keydown)="keyPress($event)">
      <div class="calculator__text-part">
        <input
          #inp
          [style]="{ fontSize: inp.value.length > 9 ? 'calc(180% - ' + inp.value.length / 1.2 + 'px)' : '180%' }"
          [value]="currentValue"
          (click)="$event.preventDefault()"
          readonly
        />
      </div>
      <div class="calculator__button-part" hedgeservCalculateButtonsHeight [elementsNumber]="buttons.length">
        <div *ngFor="let button of buttons" [class]="'calculator__line ' + ((button.size && 'size-' + button.size) || '')">
          <hedgeserv-calculator-buttons
            [button]="button"
            [(clickedButton)]="clickedButton"
            (emitButtonClicked)="detectClickedButton($event)"
          ></hedgeserv-calculator-buttons>
        </div>
      </div>
    </div>

    <div class="info-buttons">
      <a [routerLink]="['calculator-history']">Previous results</a>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loading">
    <h2>Loading ...</h2>
  </div>
</ng-template>
