/* You can add global styles to this file, and also import other style files */
@use './assets/scss/_normalizer.settings';
@use './assets/scss/_fonts.settings';

html {
  font-size: 18px;
  font-family: fonts.$body-font;
}

:root {
  --primary-color: #535353;
  --accent-color: #ffa02f;
  --opposite-color: white;
  --opposite-color-02: rgba(255, 255, 255, 0.2);
  --opposite-color-03: rgba(255, 255, 255, 0.3);
  --opposite-color-06: rgba(255, 255, 255, 0.6);
}
