button {
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-color);
  background: var(--opposite-color-08);
  color: var(--opposite-color);

  &.accent {
    background: var(--accent-color);
  }

  &.opposite08 {
    background: var(--opposite-color-02);
  }
  &.opposite05 {
    background: var(--opposite-color-03);
  }

  &.clicked {
    filter: saturate(4);

    &.opposite08,
    &.opposite05 {
      background: var(--opposite-color-06);
    }
  }
}
